
@font-face {
    font-family: 'gothic'; /*a name to be used later*/
    src: url('gothicPixels.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'nintendo'; /*a name to be used later*/
    src: url('Nintendo-DS-BIOS.ttf'); /*URL to font*/
}


body {
    background-color: black;
}

.logo {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

.project_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

#madame {
    font-family: 'gothic';
    color:#f0f6f0;
}

.text {
    font-family: 'nintendo';
    font-size: 20px;
    color:#f0f6f0;
}

.info {
    text-align: center;
    width: 50%;
}